.jumbotron{
    background-image: url("../images/193175.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}
.display-4{
    
}

.lead{

}

.city-input{
    margin-top: 50px;
    margin-bottom: 50px;
    
}

form input{
    width:70%;
    padding: 10px;
    margin-bottom: 20px;
   
}

#userInput{
    text-align: center;
}
/* Added by Jyoti for the map height and width */
#mapArea {
    align-content: center;
    height:300px;
    width:400px;
    background-color: transparent;
    margin-left:20px;
    margin-top:20px;
  }
  /* Optional: Makes the sample page fill the window. */
  /* Added by Jyoti */
  html, body {
    height: 200%;
    margin: 0;
    padding: 0;
  }