#home{
	width: 100%;
	height: 720px;
	background:url('../images/193175.jpg') no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:white;
	border-bottom: 8px solid #15a2b8;
}
.headerText{
    padding-top: 200px;
	font-size:70px;
    font-weight:500;
    color: #15a2b8;
    letter-spacing: 1px;
}


#subText{
    padding-bottom: 50px;
    letter-spacing: 1px;
    color: gray
}


#title{
    margin-top: 50px;
    margin-bottom: 50px;
    color: grey;
}

.city-input{
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    
}


#eventArea{
    padding-bottom: 40px;
}


form input {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
     
    align-content: center;
    
   
}

.link-name{
    font-weight: bold;
    font-size: 22px;
    color: black;
    
}

.info-text {
    color: grey;
    padding-bottom: 10px;
}


#userInput{
    text-align: center;
    /* Added by Jyoti for displaying the dropdown in search */
    width:40%;
    align-content: center;
    color: grey;


}

/* Added by Jyoti for the map height and width */
#mapArea.col {
    align-content: center;
    height:500px;
    width:400px;
    background-color: transparent;
    /* margin-left:20px; */
    margin-top:20px;
    top: 15%;
    position: -webkit-sticky;
    position: sticky !important;
  }
  /* Optional: Makes the sample page fill the window. */
  /* Added by Jyoti */
  html, body {
    /* height: 200%; */
    margin: 0;
    padding: 0;

  }
  .form-inline{
  display: inline-block;
  text-align: center;
  width:100%;

  }

  .images {
      padding:10px 10px;
      padding-left: 2%;
  }
  .text {
    margin: auto;
  }
  .event-div{
    background-color: white;
    margin-bottom: 10px;
    
  }


  .event-div:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

  .map-button{
    background-color: #15a2b8;
    color: white;
    border-color: #15a2b8;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    
  }

  /* Added a property by jyoti  to display the error msg when a text field is empty*/
 #start-error{
    text-align:center;
    font-weight: bold;
    font-size: 15px;
 }
 #end-error{
    text-align:center;
    font-weight: bold;
    font-size: 15px;
 }

 #error-input{
    text-align:center;
    font-weight: bold;
 }


 .page-footer{
     background-color: #15a2b8;
     padding: 20px;
     width: 100%;
 }
 #displaydateerror{
    font-weight:bold;
 }
.view-more-div {
    text-align: center;
}
 #view-more-button {
    background-color: #15a2b8;
    color: white;
    border-color: #15a2b8;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
 }
/* overwrite the css property for the dropdown  */
 
  .ap-dropdown-menu{
        width:40%;
     margin:auto;
     position:static!important; 
 }
 .ap-input-icon{
     margin-right:400px;
     margin-top:-8px;
 }

 .active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #15a2b8;
    box-shadow: 0 1px 0 0 #15a2b8;
    }
    .active-cyan input[type=text] {
    border-bottom: 1px solid #15a2b8;
    box-shadow: 0 1px 0 0 #15a2b8;
    width:40%;
    }
    .active-cyan .fa, .active-cyan-2 .fa {
    color: #15a2b8;
    }
    /* .form-control{
        align-content: center;
    }
    .display{
        display: block;
        text-align: center;
    } */
    

    #footer {
        background-color: #15a2b8;
    }
    
 /* Media Queries Start Here */
    #startDate, #endDate {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #15a2b8;
        color: grey;
    }
    #start-search-button, #submit-btn {
    background-color: #15a2b8!important;
}

#start-1, #end-1 {
    color: #15a2b8;
    font-weight: bold;
}

.fas {
    color: #15a2b8;
}
/* Styling for Favorite City */
#favorite-city{
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.651);
    margin-left: 60%;
    top: 8.5%;
    position: -webkit-sticky;
    position: sticky !important;
    
}
